<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tava</title>
</head>
<body>
	<header>Tava</header>
		<nav>
  <ul>
    <li>
      <a href="/being/beings">Beings</a>
      <ul>
        <li><a href="/being/beings">View</a></li>
        <li><a href="/being/create">Create</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/faction/factions">Factions</a>
      <ul>
        <li><a href="/faction/factions">View</a></li>
        <li><a href="/faction/create">Create</a></li>
      </ul>
    </li>

    <li>
      <a href="/species/species">Species</a>
      <ul>
        <li><a href="/species/species">View</a></li>
        <li><a href="/species/create">Create</a></li>
      </ul>
    </li>

	<li>
      <a href="/ability/abilities">Abilities</a>
      <ul>
        <li><a href="/ability/abilities">View</a></li>
        <li><a href="/ability/create">Create</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/weakness/weaknesses">Weaknesses</a>
      <ul>
        <li><a href="/weakness/weaknesses">View</a></li>
        <li><a href="/weakness/create">Create</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/location/locations">Locations</a>
      <ul>
        <li><a href="/location/locations">View</a></li>
        <li><a href="/location/create">Create</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/symbol/symbolism">Symbolism</a>
      <ul>
        <li><a href="/symbol/symbolism">View</a></li>
        <li><a href="/symbol/create">Create</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/gender/genders">Genders</a>
      <ul>
        <li><a href="/gender/genders">View</a></li>
        <li><a href="/gender/create">Create</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/story/stories">Stories</a>
      <ul>
        <li><a href="/story/stories">View</a></li>
        <li><a href="/story/create">Create</a></li>
      </ul>
    </li>

  </ul>
</nav>

</body>
</html>