<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tava</title>
<!-- <link th:href="@{/main.css}" rel="stylesheet"> -->
</head>
<body>
	<header>Tava</header>
				<nav>
  <ul>
    <li>
      <a href="/being/beings">Beings</a>
      <ul>
        <li><a href="/being/beings">View</a></li>
        <li><a href="/being/create">Create</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/faction/factions">Factions</a>
      <ul>
        <li><a href="/faction/factions">View</a></li>
        <li><a href="/faction/create">Create</a></li>
      </ul>
    </li>

    <li>
      <a href="/species/species">Species</a>
      <ul>
        <li><a href="/species/species">View</a></li>
        <li><a href="/species/create">Create</a></li>
      </ul>
    </li>

	<li>
      <a href="/ability/abilities">Abilities</a>
      <ul>
        <li><a href="/ability/abilities">View</a></li>
        <li><a href="/ability/create">Create</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/weakness/weaknesses">Weaknesses</a>
      <ul>
        <li><a href="/weakness/weaknesses">View</a></li>
        <li><a href="/weakness/create">Create</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/location/locations">Locations</a>
      <ul>
        <li><a href="/location/locations">View</a></li>
        <li><a href="/location/create">Create</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/symbol/symbolism">Symbolism</a>
      <ul>
        <li><a href="/symbol/symbolism">View</a></li>
        <li><a href="/symbol/create">Create</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/gender/genders">Genders</a>
      <ul>
        <li><a href="/gender/genders">View</a></li>
        <li><a href="/gender/create">Create</a></li>
      </ul>
    </li>
    
    <li>
      <a href="/story/stories">Stories</a>
      <ul>
        <li><a href="/story/stories">View</a></li>
        <li><a href="/story/create">Create</a></li>
      </ul>
    </li>

  </ul>
</nav>
	
	<div id = "beingInfo" th:if="${being != null}">
	
		<p>Key: <span th:text="${being.beingPK}"></span></p>
		<p>Name: <span th:text="${being.beingName}"></span></p>		
		<p>Description: <span th:text="${being.beingDescription}"></span></p>
		<p>Gender: <span th:text="${being.beingGender}"></span></p>
		<p>Species: <span th:text="${being.beingSpecies}"></span></p>
		<p>Faction: <span th:text="${being.beingFaction}"></span></p>		
		<p>Abilities: <span th:text="${being.beingAbilities}"></span></p>
		<p>Weaknesses: <span th:text="${being.beingWeaknesses}"></span></p>
		<p>Symbolism: <span th:text="${being.beingSymbolism}"></span></p>		
		<p>Locations: <span th:text="${being.beingLocations}"></span></p>
		<p>Stories: <span th:text="${being.beingStories}"></span></p>
  		<br>
  		<a th:href="@{${editEntityPath}(pk=${being.beingPK})}" th:text="'Edit'"></a>
  		<a href="#" th:text="'Delete'" th:data-entity-pk="${being.beingPK}" onclick="confirmDelete(this)"></a>
	</div>
	
	<div th:if="${being.beingArt != null}" id="beingArt"></div>
	
	<br>
	<br>
	<h2 th:text="${message}"></h2>
	<footer>
		<a href = "/">Home</a>
		<a th:href = "@{${showAllEntityPath}}">Show All</a>
		<a th:href="@{${createEntityPath}}">Create</a>
	</footer>
	<br>
	<br>

</body>
<script th:inline="javascript">
    	/*<![CDATA[*/
    	// Get the message from Thymeleaf variable
    	var message = /*[[${message}]]*/ null;

    	// Get the dialog element
    	var dialog = document.getElementById("myModal");

    	// Function to show the dialog with a message
    	function showDialog(message) {
        	var popupMessage = document.getElementById("popupMessage");
        	var okButton = document.getElementById("okButton");
        
        	popupMessage.textContent = message;
        	dialog.showModal();

        	okButton.onclick = function() {
            	dialog.close();
            	window.location.href = /*[[@{${showAllEntityPath}}]]*/ 'defaultURL';
        	};
    	}

    	// Shows the dialog if a message is present
    	if (message) {
        	showDialog(message);
    	}
    	
    	// Function to show the confirmation dialog for deletion
    function confirmDelete(link) {
        var dialog = document.getElementById("yesNoModal");
        var yesNoMessage = document.getElementById("yesNoMessage");
        var yesButton = document.getElementById("yesButton");
        var noButton = document.getElementById("noButton");
		
		console.log(link.dataset);
		var entityPK = link.dataset.entityPk;
		console.log(entityPK);
		
		console.log(entityPK);
        // Customize the message and actions for deletion
        yesNoMessage.textContent = "Are you sure you want to delete this entry?";
        yesButton.textContent = "Yes";
        noButton.textContent = "No";

        // Update the OK button behavior
        var deleteUrl = /*[[@{${deleteEntityPath}}]]*/ 'defaultURL';
        
        yesButton.onclick = function() {
            dialog.close();
            // Redirect to the delete link
            window.location.href = deleteUrl + "/" + entityPK;
        };
        
        noButton.onclick = function() {
            dialog.close();
        };

        dialog.showModal();
    }
    	/*]]>*/
	</script>
</html>